---json
{
    "templating": {
        "extends": "base-page.html"
    }
}
---
[% template title %][[ $title ]][% endtemplate %]

[% template head %]
    <link rel="stylesheet" href="[[ $context-path ]]/resources/css/blog.css"/>
    <link rel="alternate" type="application/atom+xml" title="[[ $title ]] — Atom Feed" href="[[ $context-path ]]/feed.xml"/>
[% endtemplate %]

[% template content %]
    <div class="blog">
        [[ $content ]]
    </div>
[% endtemplate %]

[% template scripts %]
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
[% endtemplate %]
