<div data-template="app:post-detail">
    <div data-template="app:og-meta"/>

    <article class="post-detail">
        <header class="post-header">
            <h1 class="post-title" data-template="app:post-field" data-template-field="title"/>
            <div class="post-meta">
                <time data-template="app:post-field" data-template-field="date"/>
                <span class="post-author">
                    by <span data-template="app:post-field" data-template-field="author"/>
                </span>
                <span data-template="app:if-editor">
                    <a class="edit-link"
                       data-template="lib:attr" data-template-attr="href"
                       data-template-value="$model?post?slug => concat('/admin/editor/')"
                       href="#">Edit</a>
                </span>
            </div>
            <div data-template="app:post-tags"/>
        </header>

        <div class="post-body" data-template="app:post-body"/>
    </article>

    <nav class="post-nav">
        <a href="../" class="back-link">Back to blog</a>
    </nav>
</div>
